
altair==5.1.1

conda==23.3.1


GitPython==3.1.35

hiplot==0.1.33


json5==0.9.6

Markdown==3.3.4
markdown-it-py==3.0.0

matplotlib==3.5.1
matplotlib-inline==0.1.2


numpy==1.21.5

pandas==1.4.2


pip==23.2.1

plotly==5.6.0

praw==7.7.1


pymongo==3.12.0

PyMySQL==1.1.0



scikit-image==0.19.2
scikit-learn==1.2.2
scipy==1.7.3
seaborn==0.11.2


streamlit==1.26.0
sympy==1.10.1


ujson==5.1.0
Unidecode==1.2.0
update-checker==0.18.0
urllib3==1.26.9

